.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget-header {
  background: $blue;
  cursor: default;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}

.add-option-message {
  color: $off-white;
  cursor: default;
  text-align: center;
  padding: $l-size;
  margin: 0;
  border-bottom: 1px solid lighten($light-blue, $amount: 10%);
}
